@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@ViewBag.OnActionExecuting</li>
    <li>@ViewBag.OnActionExecuted</li>
    <li>@ViewBag.OnResultExecuting</li>
    <li>@ViewBag.OnResultExecuted</li>
</ul>
